<nav class="navbar navbar-default">
    <div class="nav1 shade">    
        <a href="/">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-home"></span>
                Home                    
            </button>
        </a>
        <a href="/classes">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-th-list"></span>
                Classes
            </button>
        </a>
        &nbsp;&nbsp;NoteIt!
    </div>
</nav>