<nav class="navbar navbar-default">
        <div class="nav1">
            <a href="/">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-home"></span>
                    NoteIt!                    
                </button>
            </a>
            <a href="/classes">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Classes
                </button>
            </a>
        </div>
    </nav>