<select id="quarter" name="quarter" placeholder="QUARTER (i.e FA, WI)">	
	<option value = "FA" >Fall</option>
	<option value = "WI" selected="selected" >Winter</option>
	<option value = "SP" >Spring</option>
</select>
