<select id="quarter" name="quarter" style="width:100%"">	
	<option value = "FA" >Fall</option>
	<option value = "WI" selected="selected" >Winter</option>
	<option value = "SP" >Spring</option>
</select>
