<select id="department" name="department" placeholder="DEPARTMENT (i.e. CSE, MGT)">						
	<option value="AIP ">AIP  - Academic Internship Program   </option>
	<option value="AAS ">AAS  - African American Studies      </option>
	<option value="ANES">ANES - Anesthesiology                </option>
	<option value="ANBI">ANBI - Anthro/Biological Anthropology</option>
	<option value="ANAR">ANAR - Anthropological Archeology    </option>
	<option value="ANTH">ANTH - Anthropology                  </option>
	<option value="ANSC">ANSC - Anthropology/Sociocultural    </option>
	<option value="AESE">AESE - ArchitectureBsdEntrpSystmsEngr</option>
	<option value="AUD ">AUD  - Audiology                     </option>
	<option value="BENG">BENG - Bioengineering                </option>
	<option value="BNFO">BNFO - Bioinformatics                </option>
	<option value="BIEB">BIEB - Biol/Ecology, Behavior, &amp; Evol</option>
	<option value="BICD">BICD - Biol/Genetics,Cellular&amp;Develop</option>
	<option value="BIPN">BIPN - Biology/Animal Physiol&amp;Neurosc</option>
	<option value="BIBC">BIBC - Biology/Biochemistry          </option>
	<option value="BGGN">BGGN - Biology/Grad/General          </option>
	<option value="BGRD">BGRD - Biology/Grad/Research Discussn</option>
	<option value="BGSE">BGSE - Biology/Grad/Seminar          </option>
	<option value="BILD">BILD - Biology/Lower Division        </option>
	<option value="BIMM">BIMM - Biology/Molec Biol, Microbiol </option>
	<option value="BISP">BISP - Biology/Special Studies       </option>
	<option value="BIOM">BIOM - Biomedical Sciences           </option>
	<option value="CMM ">CMM  - Cellular &amp; Molecular Medicine </option>
	<option value="CENG">CENG - Chemical Engineering          </option>
	<option value="CHEM">CHEM - Chemistry and Biochemistry    </option>
	<option value="CHIN">CHIN - Chinese Studies               </option>
	<option value="CLAS">CLAS - Classical Studies             </option>
	<option value="CLSS">CLSS - Classics                      </option>
	<option value="CLIN">CLIN - Clinical Psychology           </option>
	<option value="CLRE">CLRE - Clinical Research             </option>
	<option value="COGS">COGS - Cognitive Science             </option>
	<option value="COMM">COMM - Communication                 </option>
	<option value="COGR">COGR - Communication/Graduate        </option>
	<option value="CSE "selected="selected">CSE  - Computer Science &amp; Engineering</option>
	<option value="ICAM">ICAM - Computing and the Arts        </option>
	<option value="CONT">CONT - Contemporary Issues           </option>
	<option value="CGS ">CGS  - Critical Gender Studies       </option>
	<option value="CAT ">CAT  - Culture, Art, &amp; Technology    </option>
	<option value="TDCH">TDCH - Dance/Choreography            </option>
	<option value="TDHD">TDHD - Dance/History                 </option>
	<option value="TDMV">TDMV - Dance/Movement                </option>
	<option value="TDPF">TDPF - Dance/Performance             </option>
	<option value="TDTR">TDTR - Dance/Theory                  </option>
	<option value="DSE ">DSE  - Data Science and Engineering  </option>
	<option value="DOC ">DOC  - Dimensions of Culture         </option>
	<option value="ECON">ECON - Economics                     </option>
	<option value="EDS ">EDS  - Education Studies             </option>
	<option value="ERC ">ERC  - Eleanor Roosevelt College     </option>
	<option value="ECE ">ECE  - Electrical &amp; Computer Engineer</option>
	<option value="EMED">EMED - Emergency Medicine            </option>
	<option value="ENG ">ENG  - Engineering                   </option>
	<option value="ENVR">ENVR - Environmental Studies         </option>
	<option value="ESYS">ESYS - Environmental Systems         </option>
	<option value="ETHN">ETHN - Ethnic Studies                </option>
	<option value="FPM ">FPM  - Family and Preventive Medicine</option>
	<option value="FPMU">FPMU - Family&amp;Prev Med Undergraduate </option>
	<option value="FILM">FILM - Film Studies                  </option>
	<option value="GLBH">GLBH - Global Health                 </option>
	<option value="HLAW">HLAW - Health Law                    </option>
	<option value="HITO">HITO - History Topics                </option>
	<option value="HIEA">HIEA - History of East Asia          </option>
	<option value="HIEU">HIEU - History of Europe             </option>
	<option value="HILA">HILA - History of Latin America      </option>
	<option value="HISC">HISC - History of Science            </option>
	<option value="HINE">HINE - History of the Near East      </option>
	<option value="HIUS">HIUS - History of the United States  </option>
	<option value="HIGR">HIGR - History, Graduate             </option>
	<option value="HILD">HILD - History, Lower Division       </option>
	<option value="HDP ">HDP  - Human Development Program     </option>
	<option value="HMNR">HMNR - Human Rights                  </option>
	<option value="HUM ">HUM  - Humanities                    </option>
	<option value="INTL">INTL - International Studies         </option>
	<option value="IRCO">IRCO - Intrnat Relat/Pac Study-Core  </option>
	<option value="IRGN">IRGN - Intrnat Relat/Pac Study-Generl</option>
	<option value="IRLA">IRLA - Intrnat Relat/Pac Study-Lang  </option>
	<option value="JAPN">JAPN - Japanese Studies              </option>
	<option value="JUDA">JUDA - Judaic Studies                </option>
	<option value="LATI">LATI - Latin American Studies        </option>
	<option value="LAWS">LAWS - Law and Society               </option>
	<option value="LHCO">LHCO - Leadership/Health Care Organiz</option>
	<option value="LISL">LISL - Linguistics/Amer Sign Language</option>
	<option value="LIAB">LIAB - Linguistics/Arabic            </option>
	<option value="LIDS">LIDS - Linguistics/Directed Stdy-Lang</option>
	<option value="LIFR">LIFR - Linguistics/French            </option>
	<option value="LIGN">LIGN - Linguistics/General           </option>
	<option value="LIGM">LIGM - Linguistics/German            </option>
	<option value="LIHL">LIHL - Linguistics/Heritage Languages</option>
	<option value="LIIT">LIIT - Linguistics/Italian           </option>
	<option value="LIPO">LIPO - Linguistics/Portuguese        </option>
	<option value="LISP">LISP - Linguistics/Spanish           </option>
	<option value="LTAM">LTAM - Literature of the Americas    </option>
	<option value="LTCH">LTCH - Literature/Chinese            </option>
	<option value="LTCO">LTCO - Literature/Comparative        </option>
	<option value="LTCS">LTCS - Literature/Cultural Studies   </option>
	<option value="LTEU">LTEU - Literature/European &amp; Eurasian</option>
	<option value="LTFR">LTFR - Literature/French             </option>
	<option value="LTGM">LTGM - Literature/German             </option>
	<option value="LTGK">LTGK - Literature/Greek              </option>
	<option value="LTIT">LTIT - Literature/Italian            </option>
	<option value="LTKO">LTKO - Literature/Korean             </option>
	<option value="LTLA">LTLA - Literature/Latin              </option>
	<option value="LTRU">LTRU - Literature/Russian            </option>
	<option value="LTSP">LTSP - Literature/Spanish            </option>
	<option value="LTTH">LTTH - Literature/Theory             </option>
	<option value="LTWR">LTWR - Literature/Writing            </option>
	<option value="LTEN">LTEN - Literatures in English        </option>
	<option value="LTWL">LTWL - Literatures of the World      </option>
	<option value="LTEA">LTEA - Literatures/East Asian        </option>
	<option value="MMW ">MMW  - Making of the Modern World    </option>
	<option value="MBC ">MBC  - MarineBiodiversity&amp;Conservatn </option>
	<option value="MATS">MATS - Materials Sci &amp; Engineering   </option>
	<option value="MATH">MATH - Mathematics                   </option>
	<option value="MSED">MSED - Mathematics &amp; Science Educ    </option>
	<option value="MAE ">MAE  - Mechanical &amp; Aerospace Engin  </option>
	<option value="MDE ">MDE  - Medical Device Engineering    </option>
	<option value="MED ">MED  - Medicine                      </option>
	<option value="MUIR">MUIR - Muir College                  </option>
	<option value="MCWP">MCWP - Muir College Writing Program  </option>
	<option value="MUS ">MUS  - Music                         </option>
	<option value="NANO">NANO - NanoEngineering               </option>
	<option value="NEU ">NEU  - Neurosciences                 </option>
	<option value="OPTH">OPTH - Ophthalmology                 </option>
	<option value="ORTH">ORTH - Orthopaedics                  </option>
	<option value="PATH">PATH - Pathology                     </option>
	<option value="PEDS">PEDS - Pediatrics                    </option>
	<option value="PHAR">PHAR - Pharmacology                  </option>
	<option value="SPPS">SPPS - Pharmacy                      </option>
	<option value="PHIL">PHIL - Philosophy                    </option>
	<option value="PHYS">PHYS - Physics                       </option>
	<option value="POLI">POLI - Political Science             </option>
	<option value="PSY ">PSY  - Psychiatry                    </option>
	<option value="PSYC">PSYC - Psychology                    </option>
	<option value="RMAS">RMAS - Radiation Med &amp; Applied Sci   </option>
	<option value="RAD ">RAD  - Radiology                     </option>
	<option value="MGTF">MGTF - Rady Sch of Management Finance</option>
	<option value="MGT ">MGT  - Rady School of Management     </option>
	<option value="RELI">RELI - Religion, Study of            </option>
	<option value="RMED">RMED - Reproductive Medicine         </option>
	<option value="REV ">REV  - Revelle College               </option>
	<option value="SDCC">SDCC - San Diego Community College   </option>
	<option value="SOMI">SOMI - Sch of Med Interdisciplinary  </option>
	<option value="SOMC">SOMC - School of Medicine Core Crses </option>
	<option value="SIO ">SIO  - Scripps Inst of Oceanography  </option>
	<option value="SOCG">SOCG - Soc/Graduate                  </option>
	<option value="SOCI">SOCI - Sociology                     </option>
	<option value="SE  ">SE   - Structural Engineering        </option>
	<option value="SURG">SURG - Surgery                       </option>
	<option value="TDAC">TDAC - Theatre / Acting              </option>
	<option value="TDDE">TDDE - Theatre / Design              </option>
	<option value="TDDR">TDDR - Theatre / Directing&amp;Stage Mgmt</option>
	<option value="TDGE">TDGE - Theatre / General             </option>
	<option value="TDGR">TDGR - Theatre / Graduate            </option>
	<option value="TDHT">TDHT - Theatre / History &amp; Theory    </option>
	<option value="TDPW">TDPW - Theatre / Playwriting         </option>
	<option value="TDPR">TDPR - Theatre Dance/Practicum       </option>
	<option value="TWS ">TWS  - Third World Studies           </option>
	<option value="TMC ">TMC  - Thurgood Marshall College     </option>
	<option value="USP ">USP  - Urban Studies &amp; Planning      </option>
	<option value="VIS ">VIS  - Visual Arts                   </option>
	<option value="WARR">WARR - Warren College                </option>
	<option value="WCWP">WCWP - Warren College Writing Program</option>
	<option value="WES ">WES  - Wireless Embedded Systems     </option>
</select>