<!doctype html>
<html>

{{> header}}

<body>
	{{> navbar}}

	<div class="container">
		<h3><center>You are successfully registered!</h3>

		<a href="/login" class="btn btn-default btn-lg btn-block active" role="button">
			<span class="glyphicon glyphicon-user"></span>
			Go to Profile</a>

		<a href="/classes" class="btn btn-default btn-lg btn-block active" role="button">
			<span class="glyphicon glyphicon-arrow-up"></span>
			Start uploading!</a>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/noteitucsd.js"></script>
</body>
		</html>