<!doctype html>
<html>

<head>
    <title>Note It! UCSD</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/noteitucsd.css" rel="stylesheet"> 

    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="nav1">
            <a onclick="history.go(-1)">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </button>
            </a>
            <a href="/">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-home">
                    </span>
                </button>
            </a>
            &nbsp; NoteIt!
        </div>
    </nav>

    <div class="container">
        <h3><center>Class Added!</h3>

        <a href="/classes" id="classes" class="btn btn-primary btn-lg btn-block active" role="button">Back to Classes</a>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/noteitucsd.js"></script>
</body>
</html>