<!doctype html>
<html>

{{> header}}

<body>
    {{> navbar}}

    <div class="container">
        <h3><center>Class Added!</h3>

        <a href="/classes" id="classes" class="btn btn-primary btn-lg btn-block active" role="button">Back to Classes</a>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/noteitucsd.js"></script>
</body>
</html>