<!doctype html>
<html>

{{> header}}

<body>

    <nav class="navbar navbar-default">
        <div class="nav1">
            <a href="/make_account">
                <button type="button" class="btn btn-default" >
                    <span class="glyphicon glyphicon-edit"></span> Register
                </button>
            </a>
            <a href="/classes">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Classes
                </button>
            </a>
        </div>
    </nav>

    <div class = "container">
        <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
        <!-- p means paragraph -->
        
            <h1>NoteIt</h1>
            <h4>A Collaborative Note-Taking App</h4>
            <h5><i>By Students, For Students</i></h5>
        

        <img SRC="images/tritons.png" ALT="UCSD_Logo" WIDTH=75 HEIGHT=113>
        <hr>
        <a href="/classes" id="classes" class="btn btn-default btn-lg btn-block active" role="button">
            <span class="glyphicon glyphicon-search"></span>
            Find Notes</a>

        <a href="/login" id="new_account" class="btn btn-default btn-lg btn-block active" role="button">
            <span class="glyphicon glyphicon-expand"></span>
            Log-in
        </a>
    </div>
        <!-- Importing the JS scripts here for the project -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/noteitucsd.js"></script>
</body>
</html>
