<!doctype html>
<html>

{{> header}}

<body>
    {{> navbar}}

    
        <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
        <!-- p means paragraph -->
        <div class = "learn">
            <h2>Note..what?</h2>
            <ul style="list-style-type:disc">
                <b><i>
                <li>NoteIt! The most awesome note-sharing app, 
                    where you guys can upload and share notes together!
                </li>
                <li>Plus, it's on the internet, so you can upload and view notes, 
                    whenever and wherever you are!
                </li>
                <li>We also designed the app such that it is easy to use for all, 
                    with minimalistic design and unbeatable simplicity.
                </li>
            </b></i>
            </ul>
            <h4>So, what are you guys waiting for?!</h4>
            <hr>
        </div>
        <div class = "container">
        <a href="/make_account" id="classes" class="btn btn-default btn-lg btn-block active" role="button">
            <span class="glyphicon glyphicon-edit"></span>
            Start Noting!</a>

        <!-- Importing the JS scripts here for the project -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/jquery-1.11.0.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/noteitucsd.js"></script>
    </div>
</body>
</html>
