<!doctype html>
<html>

{{> header}}

<body>
    {{> navbar}}

    <h3 style="color: #FFFFFF"><center>Registration is FREE!</h3>

    <div class="container">
    <form>
        <div class="form-group">
            <input type="email" class="form-control" id="real_name" placeholder="Name">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="uname" placeholder="Username">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="pass" placeholder="Password">
        </div>

        <a href="/account_done" class="btn btn-default btn-lg btn-block active" role="button">
            <span class="glyphicon glyphicon-ok"></span>
            Register</a>
    </form>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/noteitucsd.js"></script>
</body>
</html>