<!doctype html>
<html>
	
{{> header}}

<body>
	{{> navbar}}

	<div class="container">
		<h3><center>All Available Notes for {{display}}: </h3>
		<br>
		
		<div class="row">
		  <div class="col-md-6 col-md-3">
		      <a href="/images/note1.png" data-lightbox="note">
		      	<img class="note" src="/images/note1.png" alt="note1">
		      </a>
		      <a href="/images/note2.png" data-lightbox="note">
		      	<img class="note" src="/images/note2.png" alt="note2">
		      </a>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-6 col-md-3">
		      <a href="/images/note3.png" data-lightbox="note">
		      	<img class="note" src="/images/note3.png" alt="note3">
		      </a>
		      <a href="/images/note4.png" data-lightbox="note">
		      	<img class="note" src="/images/note4.png" alt="note4">
		      </a>
		  </div>
		</div>

		<hr></hr>
		<a href="/upload" id="upload_notes" class="btn btn-primary btn-lg btn-block active" role="button">Upload Notes</a>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/noteitucsd.js"></script>
		<script src="/js/jquery-1.11.0.min.js"></script>
		<script src="/js/lightbox.min.js"></script>
</body>
</html>