<!doctype html>
<html>

{{> header}}

<body>
	{{> navbar}}

	<div class="container">
		<h3><center>All Available Notes for {{display}}: </h3>
		<br>
		<p> None at the moment! Check back later, or</p>
		<hr></hr>
		<a href="/upload" id="upload_notes" class="btn btn-primary btn-lg btn-block active" role="button">Upload Notes</a>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/noteitucsd.js"></script>
</body>
</html>