<!doctype html>
<html>

{{> header}}

<body>
    {{> navbar}}

    <div class="container">
        <h4><center>Please select the file you want to upload:</h4>
        <hr></hr>
        <center><input type="file" accept="image/*">
        <hr></hr>
        <a href="/done" id="upload_now" class="btn btn-default btn-lg btn-block active" role="button">
            <span class="glyphicon glyphicon-ok"></span>
            Upload</a>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/noteitucsd.js"></script>
</body>
</html>