<!doctype html>
<html>

{{> header}}

<body>
    {{> navbar}}

    <div class="container">
        <h3><center>Upload Notes</h3>
        <hr></hr>
        <center><input type="file" accept="image/*">
        <hr></hr>
        <a href="/done" id="upload_now" class="btn btn-primary btn-lg btn-block active" role="button">Upload</a>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/noteitucsd.js"></script>
</body>
</html>