<!doctype html>
<html>

{{> header}}

<body>
    {{> navbar}}

    <div class = "container">
        <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
        <!-- p means paragraph -->
        <h1>Hello, chap!</h1>
        <h4>Anything to do today?</h4>
        <hr>
        <a href="/classes" id="classes" class="btn btn-default btn-lg btn-block active" role="button">
            <span class="glyphicon glyphicon-search"></span>
            Find Notes</a>

        <!-- Importing the JS scripts here for the project -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/jquery-1.11.0.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/noteitucsd.js"></script>
    </div>
</body>
</html>
